 <title>Single-Wep-App</title>
<body>
 <!--https://github.com/jmoswalt/passwordgen/blob/master/templates/index.html - Used to help with Html and Python integration -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- BootStrap Theme-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
  <style>
        .jumbotron
            {
               background-color: #f4511e;
               color: #fff;
                position: relative;
        }
        
        body
            {
            background-color: aliceblue;
             }
         h2
            {
            padding: 35px;
            position: relative;
            color: green;
             border: dashed;
             font-family: "Arial Black";
             background-color: white;
         }

  </style>



    <div class="jumbotron  text-center">
      <h1>Password Generator</h1>
        <h3>Use this Web-Application to generate a secure & random password.</h3>
        </div>

      <div class="text-center"> <h2>{{passwordGen}}</h2>

          <p class="center" id="showtext">You must manually press CTRL+C to Copy Password)</p>
          <form method="POST" action="/">
                <button type="submit" class="btn btn-danger btn-lg">Generate Password</button>
            </form>

      </div>

 </body>
 </head>
