body{

        background: white;

    }

h2
    {
         width: 100%;
        padding: 30px;
        position: center;
        color: black;
         border: groove;
         font-family: "Arial Black";
         background-color: white;
     }

textarea
    {
          width: 50%;
          height: 120px;
          line-height: 150%;
          resize: vertical;
    }