<!DOCTYPE html>
<html lang="en">
 <!--https://github.com/jmoswalt/passwordgen/blob/master/templates/index.html - Used to help with Html and Python integration -->

 <!--http://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_overlay - Used for the Menu Styling and Navigation -->

<title>Single-Wep-App</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- BootStrap Theme-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
<head>


 <style>
.jumbotron
        {
           background-color: black;
           color: #fff;
           position: relative;
        }

  </style>

</head>


<body>
<!-- Display Password And allow USer to Click Generate -->
 <div class="jumbotron  text-center">

        <div id="myNav" class="overlay">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <div class="overlay-content">
              <a href="/index" id="Home">Home-Page</a>
            <a href="/feedback" id="feedback">Feedback</a>
           </div>
        </div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Open Menu</span>
      <h1>Password Generator</h1>
        
        <h3>Use this Web-Application to generate a secure & random password.</h3>
    </div>

      <div class="text-center"> <h2>{{passwordGen}}</h2>



          <form method="POST" action="/">
            <p>Choose Password Length</p>
              <select name="y" >
        {% for amount in pass %}
          <option{% if amount == y %} selected="selected"{% endif %}>{{ amount }}</option>
        {% endfor %}
      </select>
          <br><br><br>
           <!-- Generate Password Button -->
           <button type="submit" class="btn btn-danger btn-lg">Generate Password</button>
          <br><br>
           <p class="center" id="showtext">You must manually press CTRL+C to Copy Password</p>
          </form>

      </div>

<script>
   // Navigate to feedback page using javascript
    $("#feedback").click(function (e){

            e.preventDefault();
            window.location = "/feedback";

        });
    // Navigate to homepage  using javascript
     $("#home").click(function (e){

            e.preventDefault();
            window.location = "/index";

        });

    // Function to open Menu and Sets the Menu Width
        function openNav() {
            document.getElementById("myNav").style.width = "30%";
        }
         // Function to Close Menu and Sets the Menu Width
        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
        }
</script>


 </body>

</html>
